.small {
    margin: 0 auto;
    border: none;
    background: none;
    will-change: transform;
    transition: 0.3s;
    cursor: pointer;
}

.small svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.small:hover {
    transform: scale(1.2);
}

.main {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px 15px;
    border: 3px solid #fff;
    background-color: #47a3da;
    cursor: pointer;
}