:global * {
    box-sizing: border-box;
}

:global body {
    font: 16px/22px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    margin: 0;

    color: #fff;
    background-color: #47a3da;
}

:global p {
    margin: 0;
}

:global ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box
{
    width: 600px;
    margin: 40px auto;

    border: 3px solid #fff;
    background-color: #10689a;
}