.title--3a4Bv {
    margin: 0;
    padding: 40px;
    text-align: center;
    border-bottom: 3px solid;
    background-color: #10689a;
}
.small--3YSSh {
    margin: 0 auto;
    border: none;
    background: none;
    will-change: transform;
    transition: 0.3s;
    cursor: pointer;
}

.small--3YSSh svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.small--3YSSh:hover {
    transform: scale(1.2);
}

.main--2s8Ne {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px 15px;
    border: 3px solid #fff;
    background-color: #47a3da;
    cursor: pointer;
}
.form--3CPcH {
    display: flex;
    align-items: center;
    background-color: #10689a;
}

.form--3CPcH.update--2g4je {
    border-bottom: 3px solid #fff;
}
.input--3sK5- {
    border: none;
    border-right: 3px solid #fff;
    padding: 1em 2em;
    width: 40%;
    color: #fff;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
    outline: none;

}
.input--3sK5-::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.item--1NPcN {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    word-wrap: break-word;
    background: #10689a;
    border-bottom: 3px solid;
    background-color: #10689a;
    display: flex;
}
.field--rSbzk {
    border-right: 3px solid;
    padding: 1em 2em;
    width: 40%;
}
.text--32rlA {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    border-bottom: 3px solid #fff;
}
* {
    box-sizing: border-box;
}

body {
    font: 16px/22px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    margin: 0;

    color: #fff;
    background-color: #47a3da;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box--1vKCV
{
    width: 600px;
    margin: 40px auto;

    border: 3px solid #fff;
    background-color: #10689a;
}
