.item {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    word-wrap: break-word;
    background: #10689a;
    border-bottom: 3px solid;
    background-color: #10689a;
    display: flex;
}
.field {
    border-right: 3px solid;
    padding: 1em 2em;
    width: 40%;
}