.form {
    display: flex;
    align-items: center;
    background-color: #10689a;
}

.form.update {
    border-bottom: 3px solid #fff;
}
.input {
    border: none;
    border-right: 3px solid #fff;
    padding: 1em 2em;
    width: 40%;
    color: #fff;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
    outline: none;

}
.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}